.container {
  display: grid;
  grid-template-rows: 7rem 1fr;
  grid-template-columns: repeat(5, 1fr) repeat(9, 1fr);
  max-width: 133rem;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 2rem 5rem rgba($color-black, 0.2);
  overflow: hidden;

  @include respond(tab-land) {
    margin: 0;
  }

  @include respond(phone) {
    display: initial;
  }
}

.container-2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2rem;
}
