.content {
  grid-column: 4 / -1;
  background: $color-white;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-content: start;
  gap: 4rem;
  border-radius: 0 0 40px 40px;

  &--contact {
    padding-bottom: 8rem;
  }

  @include respond(phone) {
    grid-column: 1/ -1;
  }

  @include respond(phone-extra-small) {
    padding: 3rem;
  }
}
