.portfolio {
  a {
    font-size: 1.7rem;
  }

  &__projects-container {
    &--2,
    &--3,
    &--4 {
      grid-template-rows: repeat(2, 1fr);
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    color: $color-grey-light;
    transition: all 0.2s;

    &--active,
    &:hover {
      color: $color-primary;
    }
  }

  &__stat {
    // Tablet Version
    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__live-prev {
    // Tablet Version
    @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      position: initial;
      font-size: 1.7rem !important;
      padding: 0.5rem 1rem;
      transform: none;
      visibility: visible;
    }
  }
}
