.sidebar {
  grid-column: 1 / 4;
  border-radius: 40px;
  background: $color-bg-secondary;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, max-content);
  justify-items: center;
  align-items: start;
  gap: 2.5rem;
  font-size: 1.6rem;
  color: $color-tertiary;

  @include respond(phone) {
    display: none;
  }

  &-body {
    display: grid;
    grid-column: 1 / -1;
    font-size: 200%;
  }

  &__img-container {
    padding: 4.5rem;
    padding-bottom: 0;

    @include respond(phone) {
      padding: 10rem;
      padding-bottom: 0;
    }
  }

  &__img {
    border-radius: 20%;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
  }

  &__name {
    font-family: $font-secondary;
    font-size: 3rem;
    font-weight: 400;
    margin-top: -1rem;

    span {
      font-weight: 700;
    }
  }

  &__position {
    background: $color-bg-tertiary;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-top: -2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    justify-self: center;

    @include respond(phone) {
      justify-items: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-icon {
    font-size: 2rem;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }

  a[class="btn btn--main"] {
    width: 80%;
    text-align: center;

    @include respond(phone) {
      width: 45%;
      padding: 2rem 2rem;
    }
  }

  &__item-icon--btn {
    margin-right: 1rem !important;
  }
}
