.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  backface-visibility: hidden;

  &:active,
  &:focus {
    outline: none;
  }

  &--main,
  &--secondary,
  &--tertiary {
    color: $color-white;
    background: $color-blue;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    transition: all 0.2s;

    &:hover {
      filter: brightness(120%);
    }
  }

  &--main,
  &--secondary {
    &:hover {
      box-shadow: 0 1rem 2rem rgba($color-blue, 0.4);
      transform: translateY(-3px);
    }

    &:active {
      box-shadow: 0 0.8rem 1.1rem rgba($color-blue, 0.4);
      transform: translateY(-1px);
    }
  }

  &--tertiary {
    &:hover {
      box-shadow: 0 0.8rem 1rem rgba($color-blue, 0.4);
    }
  }

  &--contact {
    padding: 2rem 3rem;
    border-radius: 1.5rem;
  }
}
