.input-box,
textarea {
  font-family: inherit;
  font-size: 1.7rem;
  width: 100%;
  color: $color-primary;
  background: $color-bg-secondary;
  padding: 2rem 6rem;
  border: 4px solid transparent;
  border-radius: 20px;
  transition: all 0.2s;

  &:focus {
    outline: none;
    border: 4px solid $color-blue;
  }

  &::placeholder {
    color: $color-grey-light;
    font-size: inherit;
  }
}

.input-box--contact,
textarea {
  font-size: 2rem;
  color: $color-primary;
}

.contact-form__icon,
.comment-box__emoji {
  color: $color-grey-light;
}

.input-box {
  &__pos-rel {
    position: relative;
  }

  &__pos-abs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
