.line {
  display: flex;
  width: 6%;
  height: 7px;
  background: $color-blue;

  &,
  span {
    border-radius: 5px;
  }

  span {
    display: inline-block;
    width: 30%;
    height: 100%;
    background: $color-pink;
  }
}

.post__bottom-line {
  display: inline-block;
  width: 15rem;
  height: 1px;
  background: $color-tertiary;
}
