.post {
  grid-column: 4 / -1;
  font-size: 1.6rem;

  @include respond(phone) {
    grid-column: 1 / -1;
  }

  &__return {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 30px;
    background: $color-bg-primary;
    transition: all 0.2s;
    overflow: hidden;

    .span {
      position: absolute;

      &-1 {
        left: 1.4rem;
        font-size: 3rem;
      }

      &-2 {
        font-size: 1.8rem;
        left: 6rem;
        width: 100%;
      }
    }

    &:hover span {
      visibility: visible;
    }

    &:hover {
      background: $color-bg-secondary;
      width: 15rem;
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
    }
  }

  &__start {
    padding: 8rem;
    padding-bottom: 0;

    @include respond(tab-port) {
      padding: 5rem;
    }
  }

  &__img {
    margin: auto;
    border-radius: 3px;
  }

  &__credit-person {
    font-weight: 600;
  }

  &__quote {
    display: flex;
    font-size: 2.2rem;
  }

  &__quote-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
  }

  &__quoted-by {
    font-size: 1.8rem;
    margin-top: -1rem;
  }

  &__comments {
    padding: 0 4rem 4rem 4rem;
  }
}
