.socials {
  display: flex;

  &__link,
  &--share {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: all 0.2s !important;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }

    &:hover {
      transform: scale(1.09);
    }
  }

  &--share {
    .socials__link {
      border: none;
      border-radius: none;
      width: auto;
      height: auto;
      transition: all 0.1s;

      &:hover {
        filter: brightness(120%);
        transform: none;
      }
    }

    .socials__icon {
      margin-right: 1rem;
    }

    span {
      margin-right: 4rem;
    }
  }
}
