.testimonial {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  position: relative;
  padding: 2rem 4rem;
  background: $color-bg-secondary;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;

  &__img {
    position: absolute;
    top: 0;
    left: 8%;
    transform: translateY(-50%);
    height: 9rem;
    width: auto;
  }

  &__name {
    font-size: 2rem !important;
    transform: translateX(40%);
  }

  &__quote {
    height: 2.5rem;
    width: auto;
    justify-self: end;
  }

  &__text {
    text-align: center;
    font-weight: 500;
    grid-column: 1 / -1;
  }
}

#t2,
#t3 {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &:target {
    visibility: visible;
    opacity: 1;
  }
}
