*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Transition fix
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(big-desk) {
    font-size: 68.75%; //1rem = 11px 11/16 = 62.5%
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 9px 8/16 = 50%
  }

  @include respond(phone) {
    font-size: 50%; //1rem = 8px 8/16 = 50%
  }

  @include respond(phone-small) {
    font-size: 50%; //1rem = 8px 8/16 = 50%
  }
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.7rem;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $color-secondary;
}

::selection {
  color: $color-white;
  background: $color-primary;
}

body {
  padding: 12rem 0 14rem 0;

  @include respond(phone) {
    padding: 9rem 0;
  }

  @include bgBody;
}
