.mr-btm-s {
  margin-bottom: 2rem !important;
}

.mr-btm-m {
  margin-bottom: 4rem !important;
}

.mr-btm-l {
  margin-bottom: 6rem !important;
}

.mr-btm-xl {
  margin-bottom: 8rem !important;
}

.ta-c {
  text-align: center;
}
