// Fonts
$font-primary: "Roboto", sans-serif;
$font-secondary: "Hind Siliguri", sans-serif;

// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #44566c;
$color-secondary: #5c7491;
$color-tertiary: #5f6f81;

$color-grey-light: #8697a8;
$color-grey-light-2: #e3e8eb;

$color-blue: #304cfd;
$color-blue-dark: #1d37df;
$color-blue-light: #7082f7;
$color-blue-light-2: #eaedff;

$color-pink: #ff965d;
$color-red: #ff3d57;

$color-bg-primary: #f1f3f9;
$color-bg-secondary: #f5f8f9;
$color-bg-tertiary: #e9edf0;

$color-bg-switcher: #f0f0f6;
